body{
    background-repeat: no-repeat;
    background-size: cover;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
li {
    padding: 10px 10px;
    background-color: #00d8d5;
    border: 2px solid #007bff;
    border-radius: 7.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
li:hover {
    background-color: #2d5c7a;
}
.btn-group{
    height: 350px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 3rem;
    border-radius: 10px;
    background-color: #fff;
}

.btn {
    color: white;
    padding: .75rem 2.5rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.2rem;
}



.btn-masterful {
    background-color: #00b7ff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
}
  
.btn-masterful .icon {
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    font-size: 24px;
}
.btn-masterful .btn-txt{
    padding-left: .5rem;
}
.btn-masterful:hover {
    background-color: #018dc5;
}
  
.btn-masterful:hover .icon {
    animation: rotate 2s linear infinite;
}
  
@keyframes rotate {
    from {transform: translateY(-50%) rotate(0deg);}
    to {transform: translateY(-50%) rotate(360deg);}
}
.attribute{
    position: absolute;
    bottom: 10px;
}